central/mix.lock
central/.elixir_ls
.env
central/_build/
central/deps/
central/erl_crash.dump
central/.formatter.exs

central_front/node_modules

erl_crash.dump

rover/mix.lock
rover/.elixir_ls
rover/_build/
rover/deps/
rover/erl_crash.dump
rover/.formatter.exs

