central/mix.lock
central/.elixir_ls
central/_build/
central/deps/
central/erl_crash.dump
central/.formatter.exs
central_front/node_modules

erl_crash.dump

rover/mix.lock
rover/.elixir_ls
rover/_build/
rover/deps/
rover/erl_crash.dump
rover/.formatter.exs

middleware/mix.lock
middleware/.elixir_ls
middleware/_build/
middleware/deps/
middleware/erl_crash.dump
middleware/.formatter.exs

clima/mix.lock
clima/.elixir_ls
clima/_build/
clima/deps/
clima/erl_crash.dump
clima/.formatter.exs


